<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <%= yield %>
    <br>
    <a href="/recipes">All Recipes</a>
    <br>
    <a href="/recipes/new">Create New Recipe</a>
  </body>
</html>
