<form method='post' action '/recipes' >

NAME:  <input type='text' name='name'>
INGREDIENTS:  <input type='text' name='ingredients'>
COOK TIME:  <input type='text' name='cook_time'>
<input type='submit' value='submit'>

</form>
