<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


Name: <%= @recipe.name %>
Ingredients <%= @recipe.ingredients %>
Cook time <%= @recipe.cook_time %> minutes

<form method="post" action="/recipes/<%=@recipe.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form>
</body>
</html>
